/* style.css */

/* ---------------------------
   Global Reset & Defaults
---------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: clamp(0.9rem, 1.5vw, 1rem);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fdfdfd;
  color: #111;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

/* ---------------------------
   Layout
---------------------------- */
.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border: 1px dashed #ccc;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex-grow: 1;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.column {
  flex: 1;
  min-width: 15.625rem;
}

/* ---------------------------
   Typography & Elements
---------------------------- */
h1 {
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  margin-bottom: 1rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.9rem;
  text-align: justify;
}

ul {
  font-size: 0.9rem;
  list-style: none;
  padding-left: 0;
}

ul li::before {
  content: ">";
  margin-right: 0.5rem;
  color: #666;
}

a {
  font-size: 0.9rem;
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #01817f;
}

a.external-ai {
  color: #75f86f;
}

a.external-strava {
  color: #fc5200;
}

h2 a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

/* ---------------------------
   Utility Classes
---------------------------- */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.intro {
  max-width: 37.5rem;
  margin: 0 auto 3rem auto;
}

.back-link {
  text-align: left;
  margin-top: auto;
  padding-top: 2rem;
}

/* ---------------------------
   Header & Footer
---------------------------- */
.site-header {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.site-title {
  font-size: 2rem;
  font-weight: normal;
  text-decoration: none;
  color: #111;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  color: #888;
  border-top: 1px solid #eee;
  background-color: inherit;
}

footer p {
  text-align: center;
}

/* ---------------------------
   Dark Mode
---------------------------- */
body.dark-mode {
  background-color: #1f1e25;
  color: #fdfdfd;
}

body.dark-mode a {
  color: #6dc2ff;
}

body.dark-mode footer {
  color: #aaa !important;
  border-top: 1px solid !important;
  background-color: #1f1e25;
}

/* ---------------------------
   Dark Mode Switch
---------------------------- */
.theme-toggle {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.9rem;
  z-index: 999;
}