/* style.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: 'Roboto', sans-serif;
  background: #fdfdfd;
  color: #111;
  line-height: 1.7;
  font-size: 16px;

  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem; 
  box-sizing: border-box;
  border: 1px dashed #ccc;
}

main {
  flex: 1;
}

h1 {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 1rem;
  font-weight: normal;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.intro {
  max-width: 600px;
  margin: 0 auto 3rem auto;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  
}

.column {
  flex: 1;
  min-width: 250px;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
}

ul {
  font-size: 0.9rem;
  list-style: none;
  padding-left: 0rem;
}

ul li::before {
  content: ">";
  margin-right: 0.5rem;
  color: #666;
}

a {
  font-size: 0.9rem;
  color: #000000;
  text-decoration: none;
}

p {
  font-size: 0.9rem;
}

a:hover {
  color: #01817f;
}

.back-link {
  text-align: left;
  margin: 2rem 0;
  font-size: 0.9rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 1rem;
}

.site-header {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;

}

.site-title {
  font-size: 2rem;
  font-weight: normal;
  text-decoration: none;
  color: #111;
}